SECRET_KEY=CHANGE_ME
TEST_USERNAME=CHANGE_ME
TEST_PASSWORD=CHANGE_ME
FERNET_KEY=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
DATABASE_URL=postgresql+psycopg://gas_admin:CHANGE_ME@postgres:5432/gasolinera
REDIS_URL=redis://:CHANGE_ME@redis:6379/0
MAPBOX_TOKEN=CHANGE_ME
EMAIL_USERNAME=CHANGE_ME
EMAIL_PASSWORD=CHANGE_ME
SALES_EXCEL_PATH=app/data/sales_exports
